# Ignore version control files
.git
.gitignore

# Ignore development dependencies
node_modules/

# Ignore any build output directories
.build/
dist/
out/

# Ignore environment specific configuration files
.env

# Ignore IDE specific configuration files
.vscode/